.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    text-align: left;
    background-color: black;
    font-size:20px;
    padding: 15px;
}
.header nav a{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.header nav a:hover{
    background-color:white;
    color: black;
}